--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.12.0+cu113
torchvision==0.13.0+cu113

#--find-links https://download.openmmlab.com/mmcv/dist/cpu/torch1.12.0/index.html
--find-links https://download.openmmlab.com/mmcv/dist/cu113/torch1.12.0/index.html
mmcv-full==1.6.0
mmdet

numpy
pyclipper

opencv-python-headless==4.6.0.66
pycocotools
rapidfuzz
scikit-image
six
terminaltables
matplotlib
numba>=0.45.1
lanms-neo==1.0.2
imgaug
lmdb
matplotlib
